<a href="https://colab.research.google.com/github/fatemakotha/1800-Data-Visualization/blob/main/Daily_customer_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
daily_cust_data = pd.read_csv("https://tinyurl.com/ChrisCoDV/001246895/OutletDailyCustomers.csv")
daily_cust_data.head(3)

,Date,YGE,AGN,GFA,BSQ,HNV,OZW,OTL,RAN,EHT,...,YMQ,FZI,LTU,DHJ,EEC,IFI,CGV,CNW,IZX,NLT
0,2021-01-01,65,0,53,920,60,85,72,2130,77,...,0,81,66,81,999,75,881,66,86,52
1,2021-01-02,60,0,69,878,54,72,82,2868,82,...,0,74,78,99,952,82,940,68,84,71
2,2021-01-03,69,0,52,736,64,91,75,2222,72,...,0,76,67,77,896,84,634,70,98,51

In [9]:
# PYPLOT METHOD
# daily_cust_data.plot(kind="scatter", x="age", y="chol", c="target", figsize=(10, 6))

In [10]:
daily_cust_data.columns

Index(['Date', 'YGE', 'AGN', 'GFA', 'BSQ', 'HNV', 'OZW', 'OTL', 'RAN', 'EHT',
       'ZMY', 'XSB', 'NFH', 'ZYT', 'DSA', 'MTE', 'RFY', 'HTF', 'DMN', 'END',
       'DTO', 'EYS', 'LLK', 'CTH', 'AYD', 'DZZ', 'ZSJ', 'PLB', 'HZQ', 'FTW',
       'BMF', 'CYK', 'QZF', 'MZO', 'GNL', 'PFQ', 'YMQ', 'FZI', 'LTU', 'DHJ',
       'EEC', 'IFI', 'CGV', 'CNW', 'IZX', 'NLT'],
      dtype='object')

In [3]:
for column in daily_cust_data.columns:
    plt.plot(daily_cust_data.index, daily_cust_data[column], 
             linewidth=3)

NameError: ignored